<%# Display all books %>
<h1>All Books</h1>
<ul>
  <% @books.each do |book| %>
    <li>
      <h3><%= book.title %></h3>
      <p><%= book.author %></p>
      <p><%= book.price %></p>
      <p><%= book.published_date %></p>
      <%= link_to "Show Details", book_path(book) %>
      <%= link_to "Edit", edit_book_path(book) %>
      <%= link_to "Delete", book, method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
<p>Book was successfully deleted</p>
<%= link_to "Add a Book", new_book_path %>
<%= link_to "Back to Home", root_path %>
